/*DialogItem*/
.dialogs_items .dialog a {
  color: #274472;
}

.dialogs_items .dialog a:hover {
  color: gold;
}

/*Dialogs*/
.dialogs {
  display: flex;
  flex-direction: row;
}

.dialogs_items {
  padding: 10px;
}

.messages {
  padding: 10px;
}

/*Message*/
.message {

}