.button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #274472;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    color: #274472;
    text-align:center;
    transition: all 0.2s;
}

.button:hover{
    color:#C3E0E5;
    background-color: #274472;
}

.dialogs_items {
    padding: 10px;
}

.dialogs_items .active {
    color: gold;
}

.dialogs {
    display: flex;
    flex-direction: row;
}

.messages {
    padding: 10px;
}

.message {

}
