.userPhoto {
  width: 200px;
  height: auto;
}

/*
.description {
  padding: 10px;
}

.pImg {
  width: 1400px;
  height: auto;
}

.profileStatus {
}



.contact {
  padding-left: 10px;
}

.file {
  display: inline-block;
  padding: 0 0;
  border: 0.1em solid #274472;
  margin: 0 0 0 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #274472;
  text-align: center;
  transition: all 0.2s;
  width: 200px;
  height: 25px;
}

.file:hover {
  color: #C3E0E5;
  background-color: #274472;
}*/
