.header {
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
    align-self: flex-start;
    justify-content: space-between;
    background-color: #5885AF;
}

.header img {
    width: 50px;
    padding: 10px;
}

.loginBlock {
    padding: 10px;
}

.loginBlock a {
    color: white;
}

.loginBlock button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #274472;
    text-align:center;
    transition: all 0.2s;
}

.loginBlock button:hover{
    color:#C3E0E5;
    background-color: #274472;
}