.header {
  display: flex;
  flex-wrap: wrap;
  flex: 1 100%;
  align-self: flex-start;
  justify-content: space-between;
  background-color: #5885AF;
}

.header img {
  width: 50px;
  padding: 10px;
}

.loginBlock {
  padding: 10px;
}

.loginBlock a {
  color: white;
}