.users {
  padding: 10px;
}

.userPhoto {
  width: 100px;
  height: auto;
}

.userList {

}

.search {
  padding-left: 10px;
}

.search input {
  height: 30px;
  width: 383px;
  max-width: 383px;
}

.search button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #274472;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #274472;
  text-align: center;
  height: 34px;
}

.search button:hover {
  color: #C3E0E5;
  background-color: #274472;
}

.search select {
  display: inline-block;
  border: 0.1em solid #274472;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #274472;
  text-align: center;
  height: 34px;
}

.search select:hover {
  color: #C3E0E5;
  background-color: #274472;
}
