.login {
  padding: 10px;
}

.formSummaryError {
  border: solid red 1px;
  padding: 5px;
  color: red;
}

.inputFields {
  padding-bottom: 5px;
}

.inputLogin {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
}

